#!/usr/bin/env bash

#
# /etc/conf.d/postgresql
#

# Postgresql installation location
prefix_path="/usr/local/postgresql"

# Data directory
data_path="/var/db/postgresql/data"

# Where to keep a log file
log_file="${data_path}/server.log"

# Who to run the postmaster as, usually "postgres".  (NOT "root")
user="postgres"

